<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      Добро пожаловать в DiceGame! <br>
      Делайте ваши ставки:<br>
      <form action="/turn">
      Игрок 1: Score <input type=text name=score_user1 class=score> Credits <input type=text name=credits_user1 class=credits> <br>
      Игрок 2: Score <input type=text name=score_user2 class=score> Credits <input type=text name=credits_user2 class=credits> <br>
      <input type="submit" value="Бросить кубики"></input><br>
  <!-- <%= @request.params%> -->
  </form>
    </div>
  </body>
</html>
